*,
*::after,
*::before {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
}

.navigation {

}
.navigation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background-color: rgb(141, 161, 154);
}
.navigation__mode-btn {

}
.navigation__mode-btn.navigation__mode-btn_active {
    background-color: blue;
    color: #fff;
}
.navigation__body {
    background-color: rgb(201, 162, 89);
}
.navigation__body-mode {
    display: none;
}
.navigation__body-mode.navigation__body-mode_active {
    display: block;
}



.full-calendar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: baseline;
}
.calendar-month {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
    padding: 10px;
    transition: background .2s ease-in ;
    cursor: pointer;
}
.calendar-month:hover {
    background-color: antiquewhite;
}
.calendar__head {
    display: grid;
    gap: 5px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.calendar__month {
    font-size: 24px;
}

.calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.calendar__cell {
    padding: 5px;
    text-align: center;
}
.calendar__cell_week-day {
    background-color: bisque;
    padding: 20px;
}
.calendar__cell_weekend {
    color: red;
}
.calendar__cell_day {
    background-color: aqua;
}
.calendar__cell_day-weekend {
    color: red;
}
.calendar__cell_day-today {
    background-color: rgb(112, 104, 215);
    color: #fff;
}